// Gradients
$main-gradient: linear-gradient(
  to right,
  #c33764,
  #1d2671
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$colors: (
  title: whitesmoke,
  subtitle: #161e66,
  main-bg: #161e66,
  primary-btn: #aa2751,
  item: #bb3366,
);

//Spacing
$xs-size: 0.4rem;
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// box shadow
$main-bs: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

$main-bs-hover: 0 14px 28px rgba(39, 36, 36, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
